<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>
 </head>
 <BODY>
    <h1>Inpatient Census: Goon Squad</h1>
    <div class="menu">
        <a class="active" href="/">Home</a>
        <a href="/patients">Patients</a>
        <a href="/units">Units</a>
        <a href="/doctors">Doctors</a>
        <a href="/nurses">Nurses</a>
    </div>
</BODY>
</html>
